includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
    level: 8
    phpVersion: 80400
    paths:
        - Tests
    treatPhpDocTypesAsCertain: false
