<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    Catalog View - Large image cards with overlay title.
    Layout-only template; shared chrome lives in Partials/.
</f:comment>

<records-list-types-actions>
<div class="rle-catalog-container">
    <f:render partial="RecordListTables" arguments="{
        tableData: tableData,
        currentTable: currentTable,
        tableConfig: tableConfig,
        recordListPartial: 'CatalogRecordList',
        viewSlug: 'catalog'
    }" />
</div>
</records-list-types-actions>

</html>
