<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>Arguments: table</f:comment>

<div class="text-center py-2 border-top">
    <a href="{table.singleTableUrl}" class="btn btn-sm btn-default">
        <core:icon identifier="actions-caret-down" size="small" />
        <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.expandTable" default="Expand table" />
    </a>
</div>

</html>
