<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="callout callout-info">
    <div class="callout-body">
        <core:icon identifier="actions-info" size="small" />
        <span class="ms-2"><f:translate key="LLL:EXT:records_list_examples/Resources/Private/Language/locallang.xlf:noRecords" default="No records found on this page." /></span>
    </div>
</div>

</html>
