<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    Record title row with optional icon and multi-select checkbox.
    Arguments: record, table, wrapperClass, titleClass, uidClass, iconIdentifier (optional)
</f:comment>

<div class="{wrapperClass}">
    <f:if condition="{table.multiSelectEnabled}">
        <f:render partial="MultiRecordCheckbox" arguments="{record: record}" />
    </f:if>
    <f:if condition="{iconIdentifier}">
        <span class="{iconClass}">
            <core:icon identifier="{iconIdentifier}" size="small" />
        </span>
    </f:if>
    <f:if condition="{record.permissions.canEdit}">
        <f:then>
            <typo3-backend-contextual-record-edit-trigger
                class="{titleClass}"
                edit-url="{record.editUrl}"
                url="{record.contextualEditUrl}">
                {record.title}
            </typo3-backend-contextual-record-edit-trigger>
        </f:then>
        <f:else>
            <span class="{titleClass}">{record.title}</span>
        </f:else>
    </f:if>
    <span class="{uidClass}">#{record.uid}</span>
</div>

</html>
