<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    Shared Records module table shell for custom views.
    Arguments: tableData, currentTable, tableConfig, recordListPartial, viewSlug
</f:comment>

<f:if condition="{tableData}">
    <f:then>
        <f:for each="{tableData}" as="table">
            <f:render partial="RecordFilters" arguments="{filters: table.filters}" />
            <div class="recordlist" id="t3-table-{table.tableName}"
                 {f:if(condition: table.multiSelectEnabled, then: 'data-multi-record-selection-identifier=\"t3-table-{table.tableName}\"')}>
                <form action="{table.formActionUrl}#t3-table-{table.tableName}" method="post" name="list-table-form-{table.tableName}">
                <input type="hidden" name="cmd_table" value="{table.tableName}" />
                <input type="hidden" name="cmd" />
                <f:render partial="TableHeadingBlock" arguments="{table: table}" />

                <div class="collapse show" data-state="expanded" id="recordlist-{table.tableName}">
                    <f:if condition="{currentTable}">
                        <f:render partial="Pagination" arguments="{paginator: table.paginator, pagination: table.pagination, paginationUrl: table.paginationUrl, tableName: table.tableName, position: 'top'}" />
                    </f:if>

                    <f:render partial="{recordListPartial}" arguments="{table: table, tableConfig: tableConfig, viewSlug: viewSlug}" />

                    <f:if condition="!{currentTable} && {table.hasMore}">
                        <f:render partial="ExpandTableLink" arguments="{table: table}" />
                    </f:if>

                    <f:if condition="{currentTable}">
                        <f:render partial="Pagination" arguments="{paginator: table.paginator, pagination: table.pagination, paginationUrl: table.paginationUrl, tableName: table.tableName, position: 'bottom'}" />
                    </f:if>
                </div>
                </form>
            </div>
        </f:for>
    </f:then>
    <f:else>
        <f:render partial="NoRecordsCallout" />
    </f:else>
</f:if>

</html>
