<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    Table heading + optional multi-record selection bar.
    Arguments: table, showDownloadButton (optional, default 0)
</f:comment>

<div class="recordlist-heading{f:if(condition: table.multiSelectEnabled, then: ' multi-record-selection-panel')}">
    <div class="recordlist-heading-row">
        <div class="recordlist-heading-title">
            <f:render partial="TableHeading" arguments="{heading: table.tableHeading}" />
        </div>
        <div class="recordlist-heading-actions">
            <f:if condition="{table.actionButtons.newRecordButton}">
                <f:sanitize.html build="records-list-types-backend-fragments">{table.actionButtons.newRecordButton}</f:sanitize.html>
            </f:if>
            <f:if condition="{showDownloadButton} && {table.actionButtons.downloadButton}">
                <f:sanitize.html build="records-list-types-backend-fragments">{table.actionButtons.downloadButton}</f:sanitize.html>
            </f:if>
            <f:if condition="{table.actionButtons.collapseButton}">
                <f:sanitize.html build="records-list-types-backend-fragments">{table.actionButtons.collapseButton}</f:sanitize.html>
            </f:if>
        </div>
    </div>

    <f:if condition="{table.multiSelectEnabled} && {table.multiRecordSelectionActionsHtml}">
        <div class="recordlist-heading-row t3js-multi-record-selection-actions hidden">
            <div class="recordlist-heading-title d-flex flex-wrap align-items-baseline column-gap-2 row-gap-1">
                <span class="t3js-multi-record-selection-table-title">
                    <f:render partial="TableHeading" arguments="{heading: table.tableHeading}" />
                </span>
                <strong class="text-nowrap"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.selection" default="Selection" /></strong>
            </div>
            <div class="recordlist-heading-actions">
                <f:sanitize.html build="records-list-types-backend-fragments">{table.multiRecordSelectionActionsHtml}</f:sanitize.html>
            </div>
        </div>
    </f:if>
</div>

</html>
