<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>Arguments: record, table, tableConfig</f:comment>

<div class="rle-timeline__item{f:if(condition: record.hidden, then: ' rle-timeline__item--hidden')}"
     {f:if(condition: table.multiSelectEnabled, then: 'data-multi-record-selection-element=\"true\"')}
     data-table="{record.tableName}"
     data-uid="{record.uid}">

    <div class="rle-timeline__date-col">
        <div class="rle-timeline__date-circle">
            <f:variable name="hasDate" value="0" />
            <f:for each="{record.displayValues}" as="field">
                <f:if condition="{field.type} == 'datetime' && !{field.isEmpty}">
                    <f:if condition="{hasDate} == 0">
                        <span class="rle-timeline__date-value">{field.formatted}</span>
                        <f:variable name="hasDate" value="1" />
                    </f:if>
                </f:if>
            </f:for>
            <f:if condition="{hasDate} == 0">
                <span class="rle-timeline__date-value">#{record.uid}</span>
            </f:if>
        </div>
        <div class="rle-timeline__line-segment"></div>
    </div>

    <div class="rle-timeline__content">
        <div class="rle-timeline__card">
            <f:render partial="RecordTitleRow" arguments="{
                record: record,
                table: table,
                wrapperClass: 'rle-timeline__header',
                titleClass: 'rle-timeline__title',
                uidClass: 'rle-timeline__uid',
                iconIdentifier: record.iconIdentifier,
                iconClass: 'rle-timeline__icon'
            }" />

            <f:render partial="RecordTeaser" arguments="{record: record, teaserClass: 'rle-timeline__teaser', maxCharacters: 200}" />

            <f:render partial="RecordActions" arguments="{record: record, tableConfig: tableConfig, viewSlug: 'timeline'}" />

            <f:if condition="{record.translations}">
                <f:render partial="TranslationStrip" arguments="{record: record}" />
            </f:if>
        </div>
    </div>
</div>

</html>
